body { font-family: Arial, sans-serif; margin: 0; padding: 0; background-color: #f5f5f0; color: #4e4e4e } 

header { background-color: #6d4c41; color: white; padding: 20px; text-align: center; box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2) } 

main { padding: 20px; max-width: 1200px; margin: auto } .grid-container { display: flex; flex-wrap: wrap; justify-content: space-between } 

section { background-color: #fff3e0; border-radius: 8px; padding: 20px; margin: 10px; box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15); width: calc(48% - 20px); box-sizing: border-box; transition: transform 0.2s, box-shadow 0.2s } 
section:hover { transform: translateY(-5px); box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2) } 

h2 { color: #5d4037; margin-top: 0; border-bottom: 2px solid #d7ccc8; padding-bottom: 10px } 
p { line-height: 1.6; margin: 0 } 

a { color: #5d4037; text-decoration: none } a:hover { text-decoration: underline } 
.linkedin{color:#f5f5f0; text-decoration: underline;}
.linkedin:hover {color: #64b5f6}


button { background-color: #8d6e63; color: white; border: none; border-radius: 5px; padding: 10px 15px; cursor: pointer; margin-top: 10px; transition: background-color 0.3s, transform 0.2s } 
button:hover { background-color: #795548; transform: scale(1.05) } 

footer { text-align: center; padding: 10px; background-color: #6d4c41; color:#f5f5f0; position: relative; bottom: 0; width: 100%; margin-top: 20px } .results-info { width: 100%; text-align: center } 

@media (max-width: 768px) { 
  section { width: 100%; margin: 10px 0 } 
  .grid-container { flex-direction: column; align-items: center } 
}
