@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe:ital@0;1&family=Birthstone&family=Clicker+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe:ital@0;1&family=Birthstone&family=Clicker+Script&family=Kaisei+Decol&family=Rubik+80s+Fade&display=swap');

html, body { overflow-x: hidden; width: 100%; height: 100%; margin: 0; padding: 0}

* { box-sizing: border-box; }

body { font-family: Arial; background-color: #f7f7f7; color: #333; font-family: "Kaisei Decol", serif;}

header {background-image:url(header-background.jpg);background-size:cover;width: 100%;display: flex;justify-content: center;align-items: center;overflow: hidden; color: white; font-size: 1.8rem}

main { padding: 20px; max-width: 1200px; margin: auto}
.grid-container { display: flex; flex-wrap: wrap; justify-content: space-between}
section { background-color: #f0f0f0; border-radius: 8px; padding: 20px; margin: 10px; box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
          width: calc(48% - 20px); box-sizing: border-box; transition: transform 0.2s, box-shadow 0.2s}
section:hover { transform: translateY(-5px); box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2)}
.results-info { width: 100%; text-align: center; }

h2 { color: #365563; margin-top: 0; border-bottom: 2px solid #8eb1c2; padding-bottom: 10px}
p { line-height: 1.6; margin: 0}
a { color: #365563; text-decoration: none}
a:hover { text-decoration: underline}
.linkedin { color: #f5f5f0; text-decoration: underline}
.linkedin:hover { color: #64b5f6}

button { background-color: #608da2; color: white; border: none; width: 100%; border-radius: 25px; padding: 12px 30px; 
         font-size: 16px; text-transform: uppercase; cursor: pointer; margin-top: 40px; 
         box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); transition: all 0.3s ease; font-family: "Kaisei Decol", serif; letter-spacing: 2px}
button:hover { background-color: #608da2; transform: scale(1.05); box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2)}
button:active { transform: scale(0.98); box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1)}

footer { text-align: center; padding: 10px; background-color: #608da2; color: white; position: relative; bottom: 0; width: 100%; margin-top: 20px; font-weight: 500; font-size: 17px;}


@media (max-width: 768px) {
    section { width: 100%; margin: 10px 0} 
    .grid-container {flex-direction: column;align-items: center}
    
    header h1 {font-size: 2rem;padding: 10px 20px}
    h2 {font-size: 1.5rem}
    
    button {font-size: 14px;padding: 10px 20px}
    
    footer {font-size: 14px}
    
}
